body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    color: dimgray;
    padding-bottom: 20px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, brown);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.about{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
    margin-left: 5%;
}
#latest-text{
    text-align: center;
}
#work-text{
    text-align: center;

    
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 20%;
    
}
h3{
    text-align: center;
    color: dimgray;
    height: 100%;

}